# ----------------------------------------------------------------------------
# GitHub Actions workflow to test this script.
# ----------------------------------------------------------------------------

name: Test

on: [push, pull_request]

defaults:
  run:
    shell: bash

jobs:
  # Build on regular desktop platforms for which we have GitHub-hosted runners.
  build:
    name: Build
    strategy:
      matrix:
        runner: [
          windows-latest
        ]
        include:
          - runner: windows-latest
            build_os: win64
            build_cpu: x86_64
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout application
        uses: actions/checkout@v6
        with:
          # We need to checkout main application to the app/
          # subdirectory of the workspace, to not collide (and not clean)
          # repos castle-engine/ and fpc/ which we will also place in
          # $GITHUB_WORKSPACE.
          path: app/

      # TODO: debugging PATH issues
      - name: Disable broken MSys2 paths conversion
        if: ${{ matrix.runner == 'windows-latest' }}
        run: echo "MSYS2_ENV_CONV_EXCL='*'" >> $GITHUB_ENV
      - name: Disable broken Git For Windows MSys paths conversion
        if: ${{ matrix.runner == 'windows-latest' }}
        run: echo "MSYS_NO_PATHCONV=1" >> $GITHUB_ENV

      - name: Setup Castle Game Engine
        run: |
          app/setup_castle_engine ${{ matrix.build_os }} ${{ matrix.build_cpu }}

          echo "PATH=$PATH" >> $GITHUB_ENV

          echo PATH from same step after source
          echo $PATH

          cd app/
          #fpc temp_test.lpr
          # made exe by
          # castle-engine simple-compile temp_test.lpr  --os=win64 --cpu=x86_64
          ./temp_test

      # TODO debugging
      - name: TODO temp test
        run: |
          echo PATH from different step
          echo $PATH
          app/temp_test

