# ----------------------------------------------------------------------------
# GitHub Actions workflow to test this script.
# ----------------------------------------------------------------------------

name: Test

on: [push, pull_request]

defaults:
  run:
    shell: bash

jobs:
  # Build on regular desktop platforms for which we have GitHub-hosted runners.
  build:
    name: Build
    strategy:
      matrix:
        runner: [
          windows-latest
        ]
        include:
          - runner: windows-latest
            build_os: win64
            build_cpu: x86_64
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout application
        uses: actions/checkout@v6
        with:
          # We need to checkout main application to the app/
          # subdirectory of the workspace, to not collide (and not clean)
          # repos castle-engine/ and fpc/ which we will also place in
          # $GITHUB_WORKSPACE.
          path: app/

      # TODO: debugging PATH issues
      - name: Disable broken MSys2 paths conversion
        if: ${{ matrix.runner == 'windows-latest' }}
        run: echo "MSYS2_ENV_CONV_EXCL='*'" >> $GITHUB_ENV
      - name: Disable broken Git For Windows MSys paths conversion
        if: ${{ matrix.runner == 'windows-latest' }}
        run: echo "MSYS_NO_PATHCONV=1" >> $GITHUB_ENV

      - name: Break PATH?
        run: echo "PATH=$PATH" >> $GITHUB_ENV

      - name: Test is PATH broken in next step
        run: |
          echo ---------------------------------------
          echo PATH in a different step, as seen from bash:
          echo $PATH
          echo ---------------------------------------
          echo PATH in a different step, as seen from Windows native application:
          app/temp_test

